@import "_setting.scss";

.board-content {
  display: flex;
  height: $board-content-height;
  overflow-x: auto;
  overflow-y: hidden;
  &::after {
    content: "";
    flex: 0 0 $gap;
  }
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: darken($common-element-bg, 15);
    border-radius: 8px;
  }
  .column-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
  }
  .add-new-column {
    display: flex;
    align-items: center;
    width: 250px;
    max-width: 250px;
    line-height: 32px;
    padding: 4px 0 4px 15px;
    cursor: pointer;
    color: white;
    margin-left: $gap;
    font-size: 15px;
    background-color: hsla(0, 0%, 100%, 0.24);
    border-radius: $column-border-radius;
    &:hover {
      background-color: hsla(0, 0%, 100%, 0.34);
    }
  }
  .enter-new-column {
    width: 250px;
    max-width: 250px;
    line-height: 32px;
    padding: 4px 10px;
    background-color: $column-bg-color;
    margin-left: $gap;
    border-radius: $column-border-radius;
    input.input-enter-new-column {
      margin: 5px 0;
    }
    .cancel-new-column {
      margin-left: $gap;
      font-size: 18px;
      color: $alert-danger;
      cursor: pointer;
      &:hover {
        color: darken($alert-danger, 10);
      }
    }
  }
}
